name: Prettier Formatting

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  check-format:
    name: Check Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          npm ci
      - name: Run prettier
        run: |
          npm run format
          git --no-pager diff --exit-code --color=never
